/* MAIN */
main {
    flex: 1;
}

.main-content {
    max-width: 1200px;
    margin: 0 auto;
}

/* HEADER */
header {
    padding: 1.5rem 0;
}

.page-title {
    font-size: 2.25rem;
}

.page-subtitle {
    color: var(--color-gray-600);
    margin-top: 0.25rem;
}

/* SECTION - FORM */
.form-section {
    background-color: var(--color-white);
    border-radius: 1rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    border: 1px solid #6a6a6a3d;
    padding: 1.5rem;
}

.section-title {
    display: flex;
    align-items: center;
    gap: 0.5rem;
    font-size: 1rem;
    font-weight: 600;
}

.form-row {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr));
    gap: 1.5rem;
    margin: 1.75rem 0 1.25rem 0;
}

.form-group {
    display: flex;
    flex-direction: column;
}

.form-group label {
    font-weight: 600;
    color: var(--color-gray-700);
    font-size: 0.90rem;
    margin-bottom: 0.50rem;
}

.form-input, .form-select {
    padding: 0.50rem 1rem;
    border: 1px solid #6a6a6a31;
    border-radius: 0.5rem;
    font-family: var(--font-family);
    font-size: 1rem;
}

.btn {
    padding: 0.60rem 1rem;
    border: none;
    border-radius: 0.50rem;
    font-family: var(--font-family);
    font-weight: bold;
    color: var(--color-gray-200);
    background-color: var(--color-primary);
    cursor: pointer;
    transition: 0.3s;
}

.btn-primary:hover {
    background-color: var(--color-primary-dark);
}

/* SECTION - LIST */
.list-section {
    background-color: var(--color-white);
    border-radius: 1rem;
    box-shadow: 0 4px 6px -1px rgba(0, 0, 0, 0.1);
    border: 1px solid #6a6a6a3d;
    padding: 1.5rem;
    margin-top: 2rem;
}

.list-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.list-count, .section-title p {
    font-size: 0.90rem;
    color: var(--color-gray-400);
}

.empty-state {
    text-align: center;
    padding: 3rem 0;
    /* display: none; */
}

.empty-state.show {
    display: block;
} 

.empty-icon {
    font-size: 3.75rem;
    margin-bottom: 1rem;
}

.empty-text {
    font-size: 1.10rem;
    color: var(--color-gray-600);
    margin-bottom: 0.5rem;
}

.empty-subtext {
    font-size: 0.90rem;
    color: var(--color-gray-400);
}

.filter-buttons {
    display: flex;
    gap: 0.75rem;
}

.btn-filter {
    padding: 0.50rem 0.75rem;
    border: none;
    border-radius: 0.50rem;
    font-family: var(--font-family);
    font-weight: 700;
    color: var(--color-gray-700);
    border: 1px solid #6a6a6a3d;
    background-color: var(--color-white);
    cursor: pointer;
    transition: 0.3s;
}

.btn-filter:hover {
    background-color: var(--color-gray-200);
}

.btn-filter.active {
    background-color: var(--color-primary);
    color: var(--color-white);
}

